* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  color: #fff;
  background-color: #081526;
  filter: blur(80%);
}

.titulo h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #BBB4BF;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  position: relative;
  cursor: pointer;
}

.titulo h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #6093bf, #BBB4BF);
  transition: width 0.3s ease, left 0.3s ease;
}

.titulo h1:hover::before {
  width: 100%;
  left: 0;
}

.titulo h1:hover {
  transform: scale(1.1); /* Aumenta ligeiramente o tamanho */
  color: transparent;
  background: linear-gradient(90deg, #6093bf, #BBB4BF);
  -webkit-background-clip: text;
  background-clip: text; /* Efeito de gradiente no texto */
}

.titulo span {
  color: #6093bf;
}

.content-links-sections {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}

.content-links-sections a {
  color: #fff;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.content-links-sections a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #6093bf;
  transition: width 0.3s ease;
}

.content-links-sections a.active::after {
  width: 100%;
}

.content-links-sections a.active {
  color: #6093bf;
}

.content-links-sections a:hover::after {
  width: 100%; /* Barra aparece ao passar o mouse */
}

.content-links-sections a:hover {
  color: #6093bf; /* Muda a cor ao passar o mouse */
}

.contato-navbar{
  padding: .5em 1em;
  background-color: #f1f1f1;
  font-weight: bold;
  border-radius: 8px;
  color: #081526;
  transition: all .3s ease;
  cursor: pointer;
}

.contato-navbar:hover{
  color: #f1f1f1;
  background-color: #6093bf;
}