.titulo-descricao-img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

.content-titulo-descricao {
  width: 50%;
}

.content-titulo-descricao h3 {
  font-size: 2em;
}

.content-titulo-descricao h1 {
  font-size: 3em;
}

.content-titulo-descricao span {
  color: #6093bf;
}

.content-titulo-descricao p{
    color: #333;
    margin: 1em 0;
}

.content-img img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.content-curriculo-projetos {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-curriculo-projetos a {
  padding: 0.5em 1em;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Estilo para o link de Projetos */
.content-curriculo-projetos div:nth-child(1) a {
  background-color: #6093bf;
  border: solid 1px #6093bf;
  font-weight: bold;
}

.content-curriculo-projetos div:nth-child(1) a:hover {
  background-color: #fff;
  color: #081526;
  transform: scale(1.05);
}

/* Estilo para o link de Currículo */
.content-curriculo-projetos div:nth-child(2) a {
  background-color: #081526;
  border: solid 1px #081526;
  font-weight: bold;
}

.content-curriculo-projetos div:nth-child(2) a:hover {
  background-color: #fff;
  color: #081526;
  transform: scale(1.05);
}
.content-img img{
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.content-img img:hover {
  filter: brightness(90%);
  transform: scale(1.05);
}
