.titulo-descricao-img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  gap: 20px;
}

.content-titulo-descricao {
  width: 50%;
}

.content-titulo-descricao h3 {
  font-size: 2em;
}

.content-titulo-descricao h1 {
  font-size: 3em;
  color: var(--bg-dark);
}

.content-titulo-descricao span {
  color: var(--primary-color);
}

.content-titulo-descricao p {
  color: var(--text-color);
  margin: 1em 0;
}
.content-curriculo-projetos {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: .5em;
}

.content-curriculo-projetos a {
  padding: 0.5em 1em;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Estilo para o link de Projetos */
.content-curriculo-projetos div:nth-child(1) a {
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color);
  font-weight: bold;
}

.content-curriculo-projetos div:nth-child(1) a:hover {
  background-color: #fff;
  color: var(--bg-dark);
  transform: scale(1.05);
}

/* Estilo para o link de Currículo */
.content-curriculo-projetos div:nth-child(2) a {
  background-color: var(--bg-dark);
  border: solid 1px var(--bg-dark);
  font-weight: bold;
}

.content-curriculo-projetos div:nth-child(2) a:hover {
  background-color: #fff;
  color: var(--bg-dark);
  transform: scale(1.05);
}
.content-img img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.content-img img:hover {
  filter: brightness(90%);
  transform: scale(1.05);
}
.content-img-responsive {
  display: none;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.about-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.about-text {
  flex: 1;
}

.about-text h1 {
  font-size: 2.5rem;
}
.about-text h2 {
  font-size: 2rem;
}
.about-text span {
  color: var(--primary-color);
}

.about-text p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.5em;
}

.skills-list {
  list-style: none;
  display: flex;
  margin: 10px 0;
  flex-wrap: wrap;
  gap: .5em;
}

.skills-list li {
  padding: 0.5em 1em;
  background-color: var(--primary-color);
  color: var(--text-light);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.skills-list li:hover {
  transform: scale(1.05);
}

.about-photo {
  flex: 1;
  text-align: center;
}

.about-photo img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 5px solid transparent; /* Inicialmente transparente */
  background-image: linear-gradient(45deg, #6093bf, #081526, #6093bf);
  background-clip: padding-box; /* Faz o gradiente aparecer na borda */
  animation: border-glow 2s infinite; /* Adiciona uma animação */
}

/* Animação da borda brilhante */
@keyframes border-glow {
  0% {
    box-shadow: 0 0 5px #6093bf, 0 0 10px #6093bf;
  }
  50% {
    box-shadow: 0 0 15px #081526, 0 0 20px #6093bf;
  }
  100% {
    box-shadow: 0 0 5px #6093bf, 0 0 10px #081526;
  }
}

#projetos {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#projetos h1 {
  font-size: 2em;
}

#projetos {
  padding: 10px;
  text-align: center;
}

#projetos h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.swiper {
  width: 100%;
  max-width: 1000px;
}

.content-git-site-projeto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em;
}

.content-git-site-projeto a {
  color: var(--secondary-color);
  transition: all 0.3s ease;
}

.content-git-site-projeto a:hover {
  color: var(--primary-color);
  transform: scale(1.2);
}

.content-git-site-projeto a:active {
  transform: scale(1.1);
  color: var(--primary-color);
}

.content-git-site-projeto a:first-child {
  margin-right: 20px;
}

.content-git-site-projeto i {
  font-size: 1.7em;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.swiper-slide p {
  margin: 0.5em 0;
}

.swiper-slide img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.swiper-slide img:hover {
  filter: brightness(90%);
  transform: scale(1.05);
}

.swiper-slide h2 {
  font-size: 1.5rem;
  color: var(--text-color);
}

.swiper-slide p {
  font-size: 1rem;
  color: var(--text-color);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--bg-dark);
}

.swiper-pagination-bullet {
  background: var(--secondary-color);
}
#educacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-dark);
  color: var(--text-light);
  text-align: center;
  padding: 40px 20px;
}

#educacao h1 {
  font-size: 2.5rem;
  margin: 30px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.content-educacao-img {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

#educacao .educacao-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}

#educacao .educacao-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#educacao .educacao-item:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.2);
}

#educacao .educacao-item h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

#educacao .educacao-item p {
  font-size: 1rem;
  color: #ddd;
}


#img-educacao {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .content-img-responsive {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;
  }
  .content-img-responsive img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .titulo-descricao-img {
    height: auto;
  }
  .content-img img {
    display: none;
  }
  .content-titulo-descricao h3 {
    font-size: 1.5em;
  }
  .content-titulo-descricao h1 {
    font-size: 2em;
  }
  .content-titulo-descricao {
    width: 100%;
  }
  .about-photo{
    display: none;
  }
  .about-section{
    padding: 10px;
  }
}
