{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <!-- Titulo da pagina -->
    <title>{% block title%} {% endblock %}</title>

    <!-- Link Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- Link Fontawesomefree -->
    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Links extras -->
    {% block extra_head %} {% endblock %}
  </head>

  <body>
    {% block header %}
    <header>
      <nav class="NavBar">
        <div class="titulo">
            <h1><span>Weme</span>rson</h1>
        </div>
        <div class="content-links-sections">
          <a href="#portfolio">Portfolio</a>
          <a href="#about-me">Sobre mim</a>
          <a href="#projetos">Projetos</a>
          <a>Educação</a>
        </div>
        <div class="contato-navbar">Meu contato</div>
      </nav>
    </header>
    {% endblock %}

    
    {% block content %}
      
    {% endblock %}
      
  </body>
  {% block script%} {% endblock %}
  <script src="{% static 'js/link-active.js' %}"></script>
  <!-- JS do Swiper -->
</html>
