{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <!-- Titulo da pagina -->
    <title>{% block title%} {% endblock %}</title>

    <!-- Link Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- Link Fontawesomefree -->
    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Links extras -->
    {% block extra_head %} {% endblock %}
  </head>

  <body>
    {% block header %}
    <header>
      <nav class="NavBar">
        <div class="titulo">
            <h1><span>Weme</span>rson</h1>
        </div>
        <div class="content-links-sections">
          <a href="#portfolio">Portfolio</a>
          <a href="#about-me">Sobre mim</a>
          <a href="#projetos">Projetos</a>
          <a href="#educacao">Educação</a>
        </div>
        <div class="contato-navbar">Meu contato</div>
      </nav>
    </header>
    {% endblock %}

    
    {% block content %}
      
    {% endblock %}

    
    {% block footer %}
    <footer id="footer">
      <div class="footer-container">
        <div class="social-media">
          <a href="https://github.com/Taylon23/" target="_blank" class="social-link">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/wemerson-fernandes-5b3115252/" target="_blank" class="social-link">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="mailto:taylonedits@gmail.com" target="_blank" class="social-link">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
        <p class="copyright">
          &copy; 2024 Wemerson Fernandes. Todos os direitos reservados.
        </p>
        <p class="credit">
          Desenvolvido por <a href="https://seuportifolio.com" target="_blank">Wemerson Fernandes</a>.
        </p>
      </div>
    </footer>    
    {% endblock %}
      
      
  </body>
  {% block script%} {% endblock %}
  <script src="{% static 'js/link-active.js' %}"></script>
  <!-- JS do Swiper -->
</html>
