{% extends "base.html" %}
 {% load static %} 
 {% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} 

{% block title%} Home {% endblock %} 

{% block content %}
<section class="titulo-descricao-img">
  <div class="content-titulo-descricao">
    <h3>Olá</h3>
    <h1>Sou <span>Wemerson</span>, um Denvolvedor Backend</h1>
    <p>
      Desenvolvedor web com experiência em Django, JavaScript, HTML, CSS,
      PostgreSQL e MySQL. Formado em Técnico de Informática, transformo ideias
      criativas em projetos web funcionais, sempre buscando desafios e inovação
      tecnológica.
    </p>
    <div class="content-curriculo-projetos">
        <div><a>Projetos</a></div>
        <div><a>Curriculo <i class="fas fa-download"></i></a></div>
    </div>
  </div>
  <div class="content-img">
    <img src="{% static 'img/img-dev.jpg' %}" alt="" />
  </div>
</section>
{% endblock %}
