{% extends "base.html" %} 
{% load static %} 
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %} 
{% block title%} Home {% endblock %} 
{% block content %}
<div id="portfolio"></div>
<div class="content-img-responsive">
  <img src="{% static 'img/img-dev.jpg' %}" />
</div>
<section class="titulo-descricao-img">
  <div class="content-titulo-descricao">
    <h3>Olá</h3>
    <h1>Sou <span>Wemerson</span>, um Denvolvedor Backend</h1>
    <p>
      Desenvolvedor web com experiência em Django, JavaScript, HTML, CSS,
      PostgreSQL e MySQL. Formado em Técnico de Informática, transformo ideias
      criativas em projetos web funcionais, sempre buscando desafios e inovação
      tecnológica.
    </p>
    <div class="content-curriculo-projetos">
      <div>
        <a>Contate-me <i class="fas fa-envelope"></i></a>
      </div>
      <div>
        <a href="https://drive.google.com/file/d/1ltYscKxt2Pi790hC30OnpePeWY8R-EZU/view?usp=sharing">Curriculo <i class="fas fa-download"></i></a>
      </div>
    </div>
  </div>
  <div class="content-img">
    <img src="{% static 'img/img-dev.jpg' %}" alt="" />
  </div>
</section>

<section id="about-me" class="about-section">
  <div class="about-container">
    <div class="about-photo">
      <img src="{% static 'img/img-dev.jpg' %}" alt="Minha foto" />
    </div>
    <div class="about-text">
      <h2>Sobre <span>Mim</span></h2>
      <h1>Backend <span>Developer</span></h1>
      <p>
        Sou desenvolvedor web com sólida experiência em desenvolvimento web.
        Formado em Técnico de Informática, tenho uma base sólida em tecnologia e
        desenvolvimento de soluções eficazes. Minha paixão é transformar ideias
        criativas em projetos web funcionais e impactantes. Sou movido por
        desafios, sempre em busca de aprender e adotar novas tecnologias para
        otimizar processos e criar experiências digitais inovadoras.
      </p>
      <h3>Minhas Habilidades</h3>
      <ul class="skills-list">
        <li>Java</li>
        <li>Python</li>
        <li>Django</li>
        <li>JavaScript</li>
        <li>HTML & CSS</li>
        <li>PostgreSQL & MySQL</li>
        <li>Git & GitHub</li>
      </ul>
    </div>
  </div>
</section>

<section id="projetos">
  <h1>Meus Projetos</h1>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="content-git-site-projeto">
          <a href="https://github.com/Taylon23/ecowatt"><i class="fab fa-github"></i></a>
          <a href=""><i class="fas fa-globe"></i></a>
        </div>
        <img src="{% static 'img/ecowatt.png' %}" alt="Imagem Projeto 1" />
        <h2>EcoWatt</h2>
        <p>
          Desenvolvi um sistema de economia de energia que ajuda os usuários a
          monitorar seus equipamentos e calcular o consumo mensal. O sistema
          também oferece sugestões e melhorias para otimizar o uso de energia.
        </p>
      </div>
      <div class="swiper-slide">
        <div class="content-git-site-projeto">
          <a href="https://github.com/Taylon23/painel_esus.git"><i class="fab fa-github"></i></a>
          <a href=""><i class="fas fa-globe"></i></a>
        </div>
        <img src="{% static 'img/api.png' %}" alt="Imagem Projeto 2" />
        <h2>Painel SUS</h2>
        <p>
          O Painel eSUS é um sistema para visualização e análise de dados de saúde provenientes do eSUS-AB (Sistema de Informação em Saúde para Atenção Básica). Ele permite aos profissionais de saúde e gestores monitorar indicadores de saúde.
        </p>
      </div>
      <div class="swiper-slide">
        <div class="content-git-site-projeto">
          <a href="https://github.com/Taylon23/petshop.git"><i class="fab fa-github"></i></a>
          <a href=""><i class="fas fa-globe"></i></a>
        </div>
        <img src="{% static 'img/petshop.png' %}" alt="Imagem Projeto 3" />
        <h2>PetShop</h2>
        <p>
          Um sistema que gerencia doações locais, permitindo que as pessoas
          publiquem anúncios de animais disponíveis para adoção.
        </p>
      </div>
      <div class="swiper-slide">
        <div class="content-git-site-projeto">
          <a href="https://github.com/Taylon23/tech_shop.git"><i class="fab fa-github"></i></a>
          <a href=""><i class="fas fa-globe"></i></a>
        </div>
        <img src="{% static 'img/techshop.png' %}" alt="Imagem Projeto 4" />
        <h2>Tech Shop</h2>
        <p>
          Desenvolvi um sistema para que os usuários possam adicionar produtos
          de tecnologia para venda. O sistema foi projetado para atender às
          necessidades de uma pessoa que desejava gerenciar seu próprio negócio.
        </p>
      </div>
      <div class="swiper-slide">
        <div class="content-git-site-projeto">
          <a href="https://github.com/Taylon23/portfolio.git"><i class="fab fa-github"></i></a>
          <a href=""><i class="fas fa-globe"></i></a>
        </div>
        <img src="{% static 'img/portifolio.png' %}" alt="Imagem Projeto 5" />
        <h2>Meu Portfólio</h2>
        <p>
          Um portfólio pessoal que exibe minhas habilidades, projetos e
          experiência, com foco em design responsivo e usabilidade.
        </p>
      </div>
    </div>
    <!-- Navegação -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<section id="educacao">
  <h1>Minha Formação</h1>
  <div class="content-educacao-img">
    <div class="educacao-container">
      <div class="educacao-item">
        <h2>Formação: Tecnico de Informática para Internet</h2>
        <p>
          Curso focado em desenvolvimento web, banco de dados, redes e
          tecnologias voltadas para a criação de aplicações eficientes e
          modernas para a internet.
        </p>
      </div>
      <h3>Habilidades Adiquiridas</h3>
      <ul class="skills-list">
        <li>Lógica de Programação</li>
        <li>Design Gráfico</li>
        <li>Banco de Dados</li>
        <li>Desenvolvimento Web I</li>
        <li>Programação Web I</li>
        <li>Programação Web II</li>
        <li>Manutenção de Computadores</li>
        <li>Sistemas Operacionais</li>
        <li>Gestão de Projetos</li>
        <li>Segurança da Informação</li>
      </ul>
    </div>
    <img src="{% static 'img/educacao.png' %}" id="img-educacao" alt="" />
  </div>
</section>
{% endblock %} {% block script %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper(".swiper", {
    slidesPerView: 1,
    spaceBetween: 20,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
{% endblock %}
